#top{
	display: inline-block;
	background-color: red;
	height: 100px;
	width: 100%;
}

#right{
	display: inline-block;
	background-color: yellow;
	height: 400px;
	width: 25%;
}

#middle{
	display: inline-block;
	background-color: pink;
	height: 400px;
	width: 50%;
}


#left{
	display: inline-block;
	background-color: green;
	height: 400px;
	width: 25%;
}

#bottom{
	display: inline-block;
	background-color: blue;
	height: 100px;
	width: 100%;
}

section{
	margin:0px 300px;
}
div{
	
	float:left;
}

