
body {
    display: inline-block;
    margin: auto;
}


#kotak {
    background: #fbfdff;
    width: 40%;
    display: inline-block;
    margin: 0px auto;
    padding: 2px;
}

h1 {
    display: inline-block;
    margin: 0px;
    font-family: helvetica;
}

h2 {
    display: inline-block;
    margin: 0px;
    font-family: helvetica;
}

h3 {
    display: inline-block;
    margin: 0px;
    font-family: helvetica;
}


input[type="text"] {
    margin: 5px;
    border-radius: 3px 3px 3px 3px;
}